<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <button>Refresh</button>
        </form>

        <p id="messageArea"></p>


    <table id="myDynamicTable"  border="1" cellpadding="2">
    </table>


    </div>

    {{>footer}}

    <script src="/js/adminMessageList.js"></script>
</body>

</html>