<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <form id="refreshForm">
            <button>Refresh</button>
        </form>

        
        <p id="messageArea"></p>


    <p id="creditarea"></p>


    </div>

    {{>footer}}

    <script src="/js/credits.js"></script>
</body>

</html>