<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<section>
  <p>Something went wrong. Please check the recipient email address and try again</p>
  <a href="/credits">Back</a>
</section>