<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <table>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                       <input id="emailinput" placeholder="Email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                       <input id="passwordinput" type="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                       <button>Login</button>
                    </td>
                </tr>
            </table>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    <u>Example accounts:</u><br>
    pudding@urby.com (inmate)<br>
    waffle@urby.com (non-inmate)<br>
    lola@urby.com (admin)<br>
    <br><br>
    Password: 1234567<br>


    {{>footer}}

    <script src="/js/login.js"></script>
</body>

</html>