<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
        {{>header}}
        

    <form id="logoutoneform">
        <button onclick="myFunction()">Logout on this computer</button>
    </form>
    <br>
    <form id="logoutallform">
        <button>Logout on all devices</button>
    </form>




    {{>footer}}

    <script src="/js/logout.js"></script>
</body>

</html>