<head>
    <title>Success</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<section>
  <h1>
    Thank You
  </h1>
  <p>Your credits are being deposited into your account</p>
  <a href="/credits">Back</a>
</section>