<header>
    <center><h1>MyFam</h1>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/friends">Friends</a>
    <a href="/messageList">Messages</a>
    <a href="/newMessage">New message</a>
    <a href="/imageList">Pictures</a>
    <a href="/sendImage">Send Picture</a>
    <a href="/sendGreetingCard">Send Greeting Card</a>
    </center>
    <br>
    <h2>{{title}}</h2>
</header>

<script src="/js/header.js"></script>
