<header>
    <center><h1>MyFam</h1>
    <div id="navigation">
    <ul>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/friends">Friends</a></li>
    <li><a href="/messageList">Messages</a></li>
    <li><a href="/newMessage">New message</a></li>
    <li><a href="/imageList">Pictures</a></li>
    <li id="sendImageLinkli"><a href="/sendImage" id="sendImageLink">Send Picture</a></li>
    <li><a href="/sendGreetingCard">Send Greeting Card</a></li>
    </ul>
    </div>


    
    </center>
    <br>
    <h2>{{title}}</h2>
</header>

<script src="/js/header.js"></script>
