<header>
    <center><h1>MyFam</h1>
    <div id="navigation">
    <ul id="list">

    </ul>
    </div>


    
    </center>
    <br>
    <h2>{{title}}</h2>
</header>

<script src="/js/header.js"></script>
