<header>
    <center><h1>MyFam</h1>

    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/friends">Friends</a>
    <a href="/messageList">Message List</a>
    <a href="/pictureMessage">New message</a></center>
    <br>
    <h2>{{title}}</h2>
</header>